Host eecs-repo
    HostName repo.eecs.berkeley.edu
    User repoman
    IdentityFile ~/.ssh/repo_eecs
    
Host github.com
    IdentityFile /home/mvc/.ssh/github

Host bitbucket.org
     IdentityFile ~/.ssh/bitbucket
     User mvcisback

Host eecs
     HostName login.eecs.berkeley.edu
     User marcell.vc

Host quassel
     HostName 192.241.227.170
     IdentityFile ~/.ssh/quassel
     User root

Host hal0001
     HostName 128.32.171.205
     User mvc